.violet {
	background-color: #2b0b4b;
	color: #ffffff;
	height: 300px;
}

.white1 {
	background-color: #ffffff;
	height: 100px;
}

.orange {
	background-color: #8528a1;
	height: 300px;
}

.white2 {
	background-color: white;
	height: 100px;
}

.green {
	background-color: #c770f0;
	height: 300px;
	position: relative;
}

.events button {
	margin-top: 175px;
	padding: 10px 50px;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0);
	font-weight: 500;
	font-size: 75%;
}

.events button:hover {
	background: #ffffff;
	border: 2px solid #ffffff;
	color: #2b0b4b;
	cursor: pointer;
	transition: .5s;
}

.events h2 {
	font-family: Calibri;
	text-align: center;
	font-size: 30px;
	padding: 80px;
}

.odyssey {
	border: 5px solid #ffffff;
	position: absolute;
	top: 950px;
	left: 400px;
	height: 300px;
	width: 280px;
}

.astrowiz {
	border: 5px solid #ffffff;
	position: absolute;
	top: 950px;
	left: 850px;
	height: 300px;
	width: 275px;
}

.estrella {
	border: 5px solid #ffffff;
	position: absolute;
	height: 250px;
	width: 280px;
	top: 1350px;
	left: 400px;
}

.name {
	border: 5px solid #ffffff;
	position: absolute;
	top: 1350px;
	left: 850px;
	height: 300px;
	width: 280px;
}

.events {
	background-image: url(/images/events_bg.svg);
	padding-top: 32px;
	height: 1000px;

}

.events h1 {
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
}

.event_cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	width: fit-screen-width;
	height: inherit;

}

.card {
	height: fit-content;
	width: fit-content;
	padding: 6px 6px 6px 6px;
	margin: 25px;
	border: 5px #ffffff;
	flex: 0 1 20%;
	background-color: #ffffff;
	box-shadow: 2px 20px 8px #555353;
}

.card img {
	height: 450px;
	width: 400px;
	/* filter: drop-shadow(2px 20px 8px #555353); */
}

.events_research {
	background-image: url(/images/research_bg.jpg);
	background-size: cover;
	padding-top: 32px;
	height: 1000px;

}

.events_research h1 {
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
}

.events_research .snip1527 {
	box-shadow: 2px 0px 10px rgba(223, 219, 219, 0.4);

}