
.events button {
	margin-top: 175px;
	padding: 10px 50px;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0);
	font-weight: 500;
	font-size: 75%;
}

.events button:hover {
	background: #ffffff;
	border: 2px solid #ffffff;
	color: #2b0b4b;
	cursor: pointer;
	transition: .5s;
}

.events h2 {
	font-family: Calibri;
	text-align: center;
	font-size: 30px;
	padding: 80px;
}

.odyssey {
	border: 5px solid #ffffff;
	position: absolute;
	top: 950px;
	left: 400px;
	height: 300px;
	width: 280px;
}

.astrowiz {
	border: 5px solid #ffffff;
	position: absolute;
	top: 950px;
	left: 850px;
	height: 300px;
	width: 275px;
}

.estrella {
	border: 5px solid #ffffff;
	position: absolute;
	height: 250px;
	width: 280px;
	top: 1350px;
	left: 400px;
}

.name {
	border: 5px solid #ffffff;
	position: absolute;
	top: 1350px;
	left: 850px;
	height: 300px;
	width: 280px;
}

.event_section{
	background-image: url(/images/events_bg.svg);
    background-position:center;
	padding-top: 32px;
	
}
.events {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.event_section h1 {
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
}


.events_research_section {
	background-image: url(/images/research_bg.jpg);
    background-position:center;
	background-size: cover;
	padding-top: 32px;
	

}

.events_research_section h1 {
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
}

.events_research_section .snip1527 {
	box-shadow: 2px 0px 10px rgba(223, 219, 219, 0.4);

}