@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');




/*for mobile*/
*
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a
{
    text-decoration: none;
    display: inline;
}

.home
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) ,url("../images/bg.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
    /*height: 100%;*/
    width: 100%;  
}
header
{
    min-height: 100vh;
}

.navigation
{
    padding: 4%;
}

.navigation ul
{
    display: flex;
    justify-content:space-between;
}

.hide-mobile
{
    display: none;
}

.logo a
{
    display: inline-block;
}

.logo, .menu
{
    width: 10%;
    display: inline-block;
}

.logo img , .menu img
{
    width: 100%;
}

.hero
{
    text-align: center;
    position: relative;
    padding: 25% 0%;
    color: ivory;    
}

.hero h1
{
    font-size: 3.5em;
    font-weight: 900;
}

.hero .tagline
{
    color: rgba(214, 214, 214, 0.863);
    font-size:1.2em ;
    font-weight:300;
    line-height: 1.8em;
    padding: 0% 10%;    
    margin-top: 3%;
}

#welcome
{
    display: inline-block;
    border: 1px solid ivory;
    color: #ddd;
    border-radius: 100px;
    font-size: 1.2em;
    margin-top:50px;
    padding:2% 10%;
    box-shadow: none;
    transition: .4s ;
}

#welcome:hover
{       
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.068), 0 3px 15px 0 rgba(255, 255, 255, 0.288);  
    transform: translateY(-5px); 
}

.scroll
{
    display:none;
}




/*for tablets*/
@media only screen and (min-width: 660px)
{   
    .navigation
    {
        padding:0% ;
    }

    .hide-mobile
    {
        display: inline-block;
    }

    header li
    {
        list-style: none;
        display: inline-block;
    }

    .nav-items
    {
        display: inline-block;
        margin:  3%;
        height: 15%;
    }

    header li a
    {    
        color:  #aaa;    
        font-size: 1em;
        font-weight: 500;
        padding:10px 25px;
        text-shadow: #999;
        transition: .5s;        
    }

    header li a:hover
    {
        color: ivory;
    }

    .active
    {
        color:ivory;
    }

    .menu
    {
        display: none;
    }

    .logo a
    {
        padding: 0px;
        margin: 25%;
    }    
    
    .hero
    {
        padding: 8%;
    }

    .hero .tagline
    {
        padding: 0% 15%;
        font-size:1.1em ;
        margin-top: 1%;
    }

    #welcome
    {
        padding:1.5% 6%;
    }
}  




/*for Desktop*/
@media only screen and (min-width: 992px)
{

    .logo
    {
        width: 6%;
        margin: 1%;
        margin-left: 3%;
    }

    header li a
    {   
        font-size: 1.3em;
    }

    .hero h1
    {
        font-size: 4em;
    }

    .hero .tagline
    {
        padding: 0% 20%;
        font-size:1.2em ;
        margin-top: 1%;
    }

    #welcome
    {
        padding:1% 4%;
    }

    .scroll
    {   
        display: block; 
        margin: 8% 0% 2%;
        transition: .8s;
    }

    .scroll:hover
    {
        transform: translateY(40px );
        transition-timing-function: ease-in;        
    }

}