.violet{
background-color:#b366ff;
color:#ffffff;
height:300px;
}
.white1{
background-color:#ffffff;
height:100px;
}
.orange{
background-color:#ff9966;
height:300px;
}
.white2{
background-color:white;
height:100px;
}
.green{
background-color:#00cc44;
height:300px;
position:relative;
}
button{
border:3px solid #ffffff; 
width:150px;
height:30px;
color:#ffffff;
background-color:#00cc44;
align:center;
position:absolute;
top:200px;
right:650px;
}
h2{
font-face:Calibri;
text-align:center;
font-size:30px;
padding:80px;
}
.odyssey{
border:10px solid #ffffff;
position:absolute;
top:290px;
left:400px;
height:300px;
width:280px;
}
.astrowiz{
border:10px solid #ffffff;
position:absolute;
top:250px;
left:850px;
height:300px;
width:275px;
}
.estrella{
border:10px solid #ffffff;
position:absolute;
height:250px;
width:280px;
top:670px;
left:400px;
}
.name{
border:10px solid #ffffff;
position:absolute;
top:630px;
left:850px;
height:300px;
width:280px;
}